<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>自动检测</string>
		<key>title_en</key>
		<string>Auto</string>
		<key>key</key>
		<string>auto</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>英语</string>
		<key>title_en</key>
		<string>Engligh</string>
		<key>key</key>
		<string>en</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>中文简体</string>
		<key>title_en</key>
		<string>Chinese(Simple)</string>
		<key>key</key>
		<string>zh-CN</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>中文繁体</string>
		<key>title_en</key>
		<string>Chinese(Traditional)</string>
		<key>key</key>
		<string>zh-HK</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>日语</string>
		<key>title_en</key>
		<string>Japanese</string>
		<key>key</key>
		<string>ja</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>韩语</string>
		<key>title_en</key>
		<string>Korean</string>
		<key>key</key>
		<string>ko</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>法语</string>
		<key>title_en</key>
		<string>French</string>
		<key>key</key>
		<string>fr</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>俄语</string>
		<key>title_en</key>
		<string>Russian</string>
		<key>key</key>
		<string>ru</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>德语</string>
		<key>title_en</key>
		<string>German</string>
		<key>key</key>
		<string>de</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>意大利语</string>
		<key>title_en</key>
		<string>Italian</string>
		<key>key</key>
		<string>it</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>泰语</string>
		<key>title_en</key>
		<string>Thai</string>
		<key>key</key>
		<string>th</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>瑞典语</string>
		<key>title_en</key>
		<string>Swedish</string>
		<key>key</key>
		<string>sv</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>菲律宾语</string>
		<key>title_en</key>
		<string>Filipino</string>
		<key>key</key>
		<string>tl</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>波兰语</string>
		<key>title_en</key>
		<string>Polish</string>
		<key>key</key>
		<string>pl</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>冰岛语</string>
		<key>title_en</key>
		<string>Icelandic</string>
		<key>key</key>
		<string>is</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>荷兰语</string>
		<key>title_en</key>
		<string>Dutch</string>
		<key>key</key>
		<string>nl</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>印尼语</string>
		<key>title_en</key>
		<string>Indonesian</string>
		<key>key</key>
		<string>id</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>阿拉伯语</string>
		<key>title_en</key>
		<string>Arabic</string>
		<key>key</key>
		<string>ar</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>拉丁语</string>
		<key>title_en</key>
		<string>Latin</string>
		<key>key</key>
		<string>la</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>马来语</string>
		<key>title_en</key>
		<string>Malay</string>
		<key>key</key>
		<string>ms</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>葡萄牙语</string>
		<key>title_en</key>
		<string>Portuguese</string>
		<key>key</key>
		<string>pt</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>老挝语</string>
		<key>title_en</key>
		<string>Lao</string>
		<key>key</key>
		<string>lo</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>越南语</string>
		<key>title_en</key>
		<string>Vietnamese</string>
		<key>key</key>
		<string>vi</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>立陶宛语</string>
		<key>title_en</key>
		<string>Lithuanian</string>
		<key>key</key>
		<string>lt</string>
		<key>enabled</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>西班牙语</string>
		<key>title_en</key>
		<string>Spanish</string>
		<key>key</key>
		<string>es</string>
		<key>enabled</key>
		<true/>
	</dict>
</array>
</plist>
